.contacts {
  min-height: 100vh;
  background-color: var(--dark_green);
  width: 100%;
  padding-top: 8vh;
}

.contacts-main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding-inline: 3rem;
}
.contact {
  display: flex;
  align-items: center;
  width: 100%;
}
.contacts-main img {
  width: 600px;
  padding-left: 30px;
}
.contacts-main .images-wrapper {
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_titles {
  width: 50%;
  color: white;
}
.contacts-main .contact .contact_titles p {
  font-size: 18px;
  line-height: normal;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #fff;
  margin-top: 20px;
}
.contacts-main .contact .contact_titles h1 {
  line-height: 45px;

  color: white;
  font-weight: 500;
  font-size: 2.5rem;
}
.contacts_2 {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 6rem 3rem 0;
}
.contacts_2 .info-about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts_2 .contacts_right_sides {
  border: 1px solid #69c04b;
  border-radius: 10px;
  background-color: #f0ffee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;

  max-height: 550px;
  margin-bottom: 100px;
}
.contacts_2 .contacts_right_sides h4 {
  font-size: 40px;
  line-height: 106%;
  font-weight: 400;
  letter-spacing: -1px;
  color: #164234;
}
.contacts_2 .contacts_right_sides input {
  border: 1px solid #69c04b;
  padding: 10px 16px;
  color: #072b18;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
  margin: 10px 0;
  outline: #69c04b;
}
.contacts_2 .contacts_right_sides textarea {
  border: 1px solid #69c04b;
  padding: 12px 16px;
  color: #072b18;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  background-color: #fff;
  min-height: 100px;
  width: 100%;
  border-radius: 7px;
  outline: #69c04b;
}
.contacts_2 .contacts_right_sides button {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  height: 45px;
  background-color: green;
  border-radius: 10px;

  font-size: 20px;
  color: white;
  border: none;
  outline: none;
}
.contacts_2 .contacts_right_sides .codeStyle {
  display: flex;
  align-items: center;
}
.contacts_2 .contacts_right_sides .codeStyle button {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  height: 45px;
  background-color: #2cb9d4;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 21px;
  color: white;
  border: none;
  outline: none;
}

@media only screen and (max-width: 900px) {
  .contacts-main {
    padding-inline: 2rem;
  }
  .contacts {
    min-height: 50vh !important; 
  }
  .contacts-main {
    padding-top: 50px;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-block: 5rem;
  .contacts-main .contact_titles {
    width: 100%;
  }
    font-size: 3rem !important;
    line-height: 100%;
  }
  .contacts-main .images-wrapper {
    width: 100%;
    height: 60vh;
  }
  .contacts-main img {
    width: 400px !important;
    margin-bottom: 2rem;
  }
  .contacts-main .contact .contact_titles h2 {
    width: 100%;
    font-size: 3.5rem !important;
  }
  .contacts-main .contact .contact_titles p {
    width: 100%;
    font-size: 16px;
    padding-bottom: 20px;
    color: white;
  }
  .contacts_2 {
    flex-direction: column-reverse;
  }
  .contacts_2 .contacts_right_sides {
    margin: 0;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .contacts_2 .contacts_right_sides input {
    height: 38px;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  .contacts_2 .contacts_right_sides .codeStyle button {
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
  }
  .contacts_2 .contacts_right_sides button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .contacts-main {
    padding-inline: 0rem !important;
  }

  .contacts_2 .info-about .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts-main .contact_titles {
    width: 100%;
    min-height: 100vh !important;
  }
  .contacts-main .contact_titles p {
    font-size: 1rem !important;
  }
  .contacts-main .contact_titles h1 {
    width: 100% !important;
    font-size: 25px !important;
    line-height: 30px;
  }
  .contacts_2 .contacts_right_sides {
    margin: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .contacts-main .images-wrapper {
    width: 100% !important;
    height: 60vh !important;
    padding-block: 3rem;
    background: none !important;
  }
  .contacts-main img {
    width: 100% !important;
  }

  .contacts_2 .contacts_right_sides input {
    height: 33px;
    font-size: 13px;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    height: 35px;
    font-size: 15px;
    padding: 4px 10px;
    margin-left: 10px;
  }
  .contacts_2 .contacts_right_sides .codeStyle button {
    height: 35px;
    font-size: 15px;
    padding: 4px 10px;
  }
  .contacts_2 {
    padding: 1rem;
  }
  .contacts_2 .contacts_right_sides button {
    margin-left: 0;
    font-size: 15px;
    padding: 5px 10px;
  }
}
