.contacts {
  max-height: 500px;
  background-color: var(--dark_green);
  width: 100%;
  display: grid;
  place-content: center;
  padding-top: 13vh;
}

.contacts-main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.contact {
  display: flex;
  align-items: center;
  width: 100%;
}
.contacts-main .images-wrapper {
  width: 50%;
}
.contact_titles {
  width: 50%;
  color: white;
}
.contacts_2 .info-about {
  width: 100%;
  margin: 3.5rem auto 0;
}
.contacts_2 .info-about h4 {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.contacts_2 .info-about .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-block: 3rem;
}
.contacts_2 .info-about .row .col .head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts_2 .info-about .row .col .head h5 {
  margin-bottom: 0 !important;
}
.contacts_2 .info-about .row .col .head .icon {
  font-size: 3rem;
  color: var(--light__green);
  margin-block: 1rem;
}
.contacts_2 .info-about .row .col span {
  text-align: left !important;
}
.contacts_2 .info-about .row .col a {
  color: var(--dark_green);
  font-weight: 500;
}
.contacts-main .contact .contact_titles p {
  font-size: 18px;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #fff;
  margin-top: 20px;
}
.contacts-main .contact .contact_titles h1 {
  line-height: 110%;
  color: white;
  font-weight: 500;
  font-size: 3rem;
}
.contacts_2 {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 1rem 0 0;
  justify-content: space-between;
  min-height: 580px;
  gap: 2rem;
}
.contacts_2 .info-about .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contacts_2 .contacts_right_sides {
  border: 1px solid #69c04b;
  border-radius: 10px;
  background-color: #f0ffee;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  margin-top: -350px;
  width: 70%;
  max-height: 750px;
  margin-bottom: 2rem;
}
.contacts_2 .contacts_right_sides h4 {
  font-size: 40px;
  line-height: 106%;
  font-weight: 400;
  letter-spacing: -1px;
  color: #164234;
}
.info-about h4 {
  text-align: left;
}
.contacts_2 .contacts_right_sides input {
  border: 1px solid #69c04b;
  padding: 10px 16px;
  color: #072b18;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  margin: 0.7rem 0;
  outline: #69c04b;
}
.contacts_2 .contacts_right_sides textarea {
  border: 1px solid #69c04b;
  padding: 12px 16px;
  color: #072b18;
  font-size: 16px;
  background-color: #fff;
  min-height: 200px;
  width: 100%;
  border-radius: 4px;
  outline: #69c04b;
}
.contacts_2 .contacts_right_sides button {
  cursor: pointer;
  padding: 10px 26px;
  text-align: center;
  align-items: center;
  background-color: green;
  border-radius: 10px;
  margin-top: 0.7rem;
  color: white;
  border: none;
  outline: none;
}
.contacts_2 .contacts_right_sides .codeStyle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputBtn {
  margin-top: 0 !important;
  font-size: 1 !important;
  height: 100% !important;
  border-radius: 4px !important;
  min-width: 150px;
}

@media only screen and (max-width: 900px) {
  .contacts_2 .info-about .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts_2 .contacts_right_sides {
    margin: 0 auto 2rem !important;
    height: 100% !important;
  }
  .contacts {
    min-height: 50vh !important;
  }
  .contacts-main {
    width: 100% !important;
  }
  .contact_titles {
    width: 100%;
  }
  .contact {
    height: 100%;
    font-size: 3rem !important;
  }
  .contacts-main img {
    width: 400px !important;
    margin-bottom: 2rem;
  }
  .contacts-main .contact .contact_titles h2 {
    width: 100%;
    font-size: 3.5rem !important;
  }
  .contacts_2 .contacts_right_sides input {
    height: 38px;
  }

  .contacts_2 {
    min-height: 130vh !important;
    max-height: 250vh !important;
    flex-direction: column-reverse !important;
    gap: 20px !important;
    justify-content: center;
    align-items: center;
  }
  .contacts_2 .info-about .row .col,
  .contacts_2 .info-about h4 {
    text-align: center;
  }
  .contacts_2 .info-about .row .col .head {
    align-items: center !important;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  .contacts_2 .contacts_right_sides .codeStyle button {
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
  }
  .contacts_2 .contacts_right_sides button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .contacts-main {
    padding-inline: 0rem !important;
    min-height: 30vh !important;
  }
  .contacts_2 {
    padding: 0 !important;
  }

  .contacts_2 .info-about .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts-main .contact_titles {
    width: 100%;
  }
  .contacts-main .contact_titles h1 {
    width: 100% !important;
    font-size: 2rem !important;
  }
  .contacts_2 .contacts_right_sides {
    margin: 0;
    width: 100%;
    margin: 1rem auto 3rem !important;
    padding: 0.7rem !important;
    min-height: 600px;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    margin-left: 0 !important;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    min-width: 100px !important;
    padding: 4px 5px !important;
  }
  .contacts-main .images-wrapper {
    width: 100% !important;
    height: 60vh !important;
    padding-block: 3rem;
    background: none !important;
  }
  .contacts-main img {
    width: 100% !important;
  }

  .contacts_2 .contacts_right_sides input {
    height: 33px;
    font-size: 13px;
  }
  .contacts_2 .contacts_right_sides .phoneNumberStyle button {
    height: 35px;
    font-size: 15px;
    padding: 4px 10px;
    margin-left: 10px;
  }
  .contacts_2 .contacts_right_sides .codeStyle button {
    height: 35px;
    font-size: 15px;
    padding: 4px 10px;
  }
  .contacts_2 {
    padding: 1rem;
  }
  .contacts_2 .contacts_right_sides button {
    margin-left: 0;
    font-size: 15px;
    padding: 5px 10px;
  }
}
