.home {
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark_green);
  position: absolute;
  top: calc(100vh - 87vh);
  position: relative;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(22, 66, 52, 0.9), rgba(22, 66, 52, 0.9)),
    url("../../assets/home-icon.webp");
  background-position: center;
  background-size: 50px;
}
.home .home__main {
  max-width: 1400px;
  min-width: 100%;
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
}
.home .info {
  width: 50%;
  color:  rgb(255, 255, 255);
  margin: 0 0 0 4%;
  font-size: 70px;
  line-height: 106%;
    letter-spacing: -3px;
}
.home .home__main .images__wrapper {
  width: 50%;
  height: 100vh;
  background: linear-gradient(rgba(22, 66, 52, 0.1), rgba(22, 66, 52, 0.1)),
    url("../../assets/home-shape.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: background_animation 10s infinite linear;
}
.home .home__main .images__wrapper img {
  width: 250px;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 4px;
  /* filter: blur(1px); */
}
.home .home__main .images__wrapper img:hover {
  filter: blur(0px);
}

@keyframes background_animation {
  0% {
    background-position: -30px 0;
  }
  10% {
    background-position: -30px -60px;
  }
  20% {
    background-position: 0 -60px;
  }
  30% {
    background-position: 30px -60px;
  }
  40% {
    background-position: 30px -30px;
  }
  50% {
    background-position: 30px 0;
  }
  60% {
    background-position: 30px 30px;
  }
  70% {
    background-position: 30px 40px;
  }
  80% {
    background-position: 0 40px;
  }
  90% {
    background-position: -30px 40px;
  }
  100% {
    background-position: 0 0;
  }
}


@keyframes slide {
  from{
     transform: translateX(0);
  }
  to{
     transform: translateX(-100%);
  }
}



.logos{
  overflow: hidden;
  padding:0 0;
  background-color: #eee;
  white-space: nowrap;
  height: 200px;
 
}


.logos:before,
.logos::after{
position: absolute;
top: 70%;
width: 100px;
height: 15%;  
content: "";
z-index: 2;
}

.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #164234);
 
}

.logos:after{
  right:  0;
  background: linear-gradient(to right, rgba(255,255,255,0), #164234);
  
}

.logos-slide{
  display: inline-block;
  animation: 30s slide infinite linear; 
  width: 100%;
}

.logos-slide img{
  height: 80px;
  margin: 0 10px;
}
