.category_products {
  width: 100%;
  text-align: center;
  padding-block: 100px;
}
.category_products ul {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  background-color: #f0ffee;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 100px;
}

.category_products ul li {
  color: #072b18;
  opacity: 0.7;
  cursor: pointer;
}
.category_products ul li:hover {
  color: black;
  opacity: 1;
}
.category_products .filtered_products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.category_products .box_products {
  border: 1px solid #69c04b;
  border-radius: 20px;
  width: 348px;
  overflow: hidden;
  object-fit: cover;
  height: 650px;
}
.category_products .box_products img {
  height: 260px;
  width: 100%;
  padding: 1rem;
  object-fit: contain;
}
.category_products .box_products .filtered_products .card-desc {
  padding: 0 !important;
}

